html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --title-dark-color: #212121;
  --text-dark-color: #757575;
  --background-dark-color: #2f303a;
  --black-color: #000000;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --text-light-color: rgba(255, 255, 255, 0.6);
  --background-light-color: #f5f5f5;
  --background-gray-color: #f5f4fa;
  --button-active-color: #188ce8;
  --border-portfolio-color: #eeeeee;
  --border-header-color: #ececec;
  --icon-color: #afb1b8;
  --overlay-color: rgba(47, 48, 58, 0.4);
  --background-hero-color: #c4c4c4;
  --icon-footer: rgba(255, 255, 255, 0.1);
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --background-work-color: rgba(47, 48, 58, 0.8);
  --background-modal-color: rgba(0, 0, 0, 0.2);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--title-dark-color);
}

.hero-button,
.portfolio-button,
.footer-button,
.modal-button {
  cursor: pointer;
  font-family: inherit;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-bottom: 0;
}

/* Шапка сайту */
.header {
  border-bottom: 1px solid var(--border-header-color);

  background-color: var(--white-color);
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav,
.header .list {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 93px;

  color: var(--black-color);
}

.logo-header,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.first-list .list-item:not(:first-child) {
  margin-left: 50px;
}

.second-list .list-item:not(:first-child) {
  margin-left: 30px;
}

.nav-item,
.address-header {
  transition: color 250ms var(--time-function);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item {
  color: var(--title-dark-color);
}

.address-header {
  display: inline-flex;
  vertical-align: middle;

  color: var(--text-dark-color);
}

.active,
.span,
.nav-item:hover,
.nav-item:focus,
.address-header:hover,
.address-header:focus {
  color: var(--accent-color);
}

.envelope,
.smartphone {
  transition: fill 250ms var(--time-function);
  margin-right: 10px;
  fill: var(--text-dark-color);
}

.address-header:hover .envelope,
.address-header:focus .envelope,
.address-header:hover .smartphone,
.address-header:focus .smartphone {
  fill: var(--accent-color);
}

.active {
  position: relative;
}

.active::after {
  content: '';
  display: block;
  position: absolute;
  top: 44px;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Герой */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
    url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-hero-color);
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  transition: background-color 250ms var(--time-function);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-active-color);
}

/* Особливості */
.characteristics .list {
  display: flex;
}

.characteristics .list-item:not(:last-child) {
  margin-right: 30px;
}

.characteristic-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.characteristic-text {
  color: var(--text-dark-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.characteristic-thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  border-radius: 4%;
  width: 270px;
  height: 120px;

  background-color: var(--background-gray-color);
}

/* Чим ми займаємося */
.works-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.works .list-item {
  position: relative;
}

.work-title {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: var(--background-work-color);
  color: var(--white-color);
}

.works .list {
  display: flex;
}

.works .list-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  background-color: var(--background-gray-color);
  text-align: center;
}

.team .list {
  display: flex;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.card {
  background-color: var(--white-color);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card:not(:last-child) {
  margin-right: 30px;
}

.card-description {
  padding: 30px 32px;
}

.card-title {
  margin-bottom: 10px;

  font-weight: 500;
}

.card-text {
  margin-bottom: 16px;

  color: var(--text-dark-color);
}

.card .list {
  display: flex;
}

.card .list-item:not(:last-child) {
  margin-right: 10px;
}

.card-link {
  transition: background-color 250ms var(--time-function);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.card-link .social {
  transition: fill 250ms var(--time-function);
  fill: var(--icon-color);
}

.card-link:hover,
.card-link:focus {
  background-color: var(--accent-color);
}

.card-link:hover .social,
.card-link:focus .social {
  fill: var(--white-color);
}

/* Постійні клієнти */
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients .list {
  display: flex;
}

.clients .list-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  transition: border-color 250ms var(--time-function);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4%;
}

.client-logo {
  transition: fill 250ms var(--time-function);
  fill: var(--icon-color)
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-link:hover .client-logo,
.client-link:focus .client-logo {
  fill: var(--accent-color);
}

/* Підвал сторінки */
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-dark-color);
}

.logo-footer {
  color: var(--white-color);
}

.map-footer,
.address-footer {
  transition: color 250ms var(--time-function);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.map-footer {
  color: var(--white-color);
}

.address-footer {
  color: var(--text-light-color);
}

.map-footer:hover,
.map-footer:focus,
.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

.address {
  margin-top: 20px;
}

.list-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-text,
.footer-label {
  margin-bottom: 20px;

  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social .list {
  display: flex;
}

.footer-social .list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--icon-footer);

  transition: background-color 250ms var(--time-function);
}

.footer-link .social {
  fill: var(--white-color);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

.footer-subsciption {
  display: flex;
  margin-left: auto;
}

.footer-form-label {
  display: flex;
  flex-direction: column;
}

.footer-input,
.footer-button {
  height: 50px;
}

.footer-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;

  background-color: var(--background-dark-color);
  color: var(--text-light-color);
  font: inherit;
}

.footer-button {
  align-self: flex-end;
  margin-left: 12px;
  padding-left: 28px;
  padding-right: 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.icon-send {
  vertical-align: middle;
  margin-left: 10px;

  fill: var(--white-color);
}

/* Портфоліо */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons .list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  transition: box-shadow 250ms var(--time-function),
    color 250ms var(--time-function),
    background-color 250ms var(--time-function);

  padding: 6px 22px;
  text-align: center;
  border: none;
  border-radius: 4px;

  background-color: var(--background-gray-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--accent-color);
  color: var(--white-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project {
  flex-basis: calc((100% - 60px) / 3);

  background-color: var(--white-color);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project .link {
  display: block;
  transition: box-shadow 250ms var(--time-function);
}

.project .link:hover,
.project .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-description {
  padding: 20px 24px;
  border-right: 1px solid var(--border-portfolio-color);
  border-left: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  margin-top: 4px;

  color: var(--text-dark-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--time-function);

  padding: 63px 24px;
  width: 100%;
  background-color: var(--portfolio-overlay-color);
}

.project-span {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.project .link:hover .project-overlay {
  transform: translateY(0);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  transition: opacity 250ms var(--time-function);

  width: 100%;
  height: 100%;

  background-color: var(--background-modal-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--time-function);

  padding: 40px;
  width: 528px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--white-color);
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.close-button {
  fill: var(--black-color);

  transition: fill 250ms var(--time-function);
}

.modal-close:hover .close-button,
.modal-close:focus .close-button {
  fill: var(--accent-color);
}

.modal-window-text {
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.form-input,
.textarea {
  width: 100%;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--black-color);

  transition: border-color 250ms var(--time-function);

  outline: none;
}

.form-input {
  height: 40px;
  padding-left: 42px;
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  fill: var(--title-dark-color);

  transition: fill 250ms var(--time-function);
}

.form-textarea {
  display: block;
  margin-bottom: 20px;
}

.form-checkbox {
  display: flex;
  margin-bottom: 30px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--text-dark-color);
}

.textarea {
  padding: 12px 16px;
  resize: none;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field:hover .form-icon,
.form-field:focus .form-icon,
.form-field:focus-within .form-icon {
  fill: var(--accent-color);
}

.form-field:hover .form-input,
.form-field:focus .form-input,
.form-field:focus-within .form-input,
.form-textarea:hover .textarea,
.form-textarea:focus .textarea,
.form-textarea:focus-within .textarea {
  border-color: var(--accent-color);
}

.form-checkbox {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-left: 7px;
  margin-right: 7px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-dark-color);
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.icon {
  display: inline-block;

  cursor: pointer;

  width: 16px;
  height: 15px;
  border: 2px solid var(--title-dark-color);
  border-radius: 4px;

  transition: border-color 250ms var(--time-function),
    background-color 250ms var(--time-function),
    background-image 250ms var(--time-function);
}

.checkbox:checked+.icon {
  background-image: url('../images/check.svg');
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  background-position: right top;
}

.agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.modal-button {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px 52px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--time-function);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-active-color);
}

/* .no-checked {
  position: relative;
}

.checked {
  fill: var(--white-color);
  background-color: var(--accent-color);
  position: absolute;
}

.checkbox:not(:checked)~.checked {
  opacity: 0;
}

.checkbox:checked+.no-checked {
  opacity: 0;
} */