.clients__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients__list {
    display: flex;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    transition: border-color 250ms $time-function;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid $icon-color;
    border-radius: 4%;
}

.clients__logo {
    transition: fill 250ms $time-function;
    fill: $icon-color
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid $accent-color;
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
    fill: $accent-color;
}