.social {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;

        transition: background-color 250ms $time-function;

        &--white {
            background-color: $icon-footer-color;
        }

        &:hover,
        &:focus {
            background-color: $accent-color;
        }

        &:hover .social__icon,
        &:focus .social__icon {
            fill: $white-color;
        }
    }

    &__icon {
        &--gray {
            transition: fill 250ms $time-function;
            fill: $icon-color;
        }

        &--white {
            fill: $white-color;
        }
    }
}